.main {
  background-image: url("../../../assets/brands_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  position: relative; 
  display: flex;
  align-items: center;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* karartma etkisi */
  z-index: 1;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;  
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content img {
    max-width: 100%;
}
