.main {
  background-color: var(--blue_bg);
}
.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 105px 24px 85px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  flex-direction: column;
}
.logo_icon {
  height: 72px;
}
.logo_container {
  margin-top: -2rem;
}
.logo_text {
  height: 40px;
}
.social_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-top: 2rem;
}
.footer_column {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.first_footer_column{
    display: flex;
  flex-direction: column;
  width: 30%;
}
.footer_column_responsive{
    display: none;
  flex-direction: row;
  width: 100%;
}
.column_title_container {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(108, 108, 108, 1);
  margin-bottom: 2rem;
  width: 100%;
}
.column_title {
  font-size: 2rem;
  font-family: "Teko", sans-serif;
  font-weight: 500;
  color: #fff;
 
}
.column_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.column_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.column_item span {
  color: #fff;
  font-weight: 700;
}
.column_bottom_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 2rem;
  margin-left: -50px;
  align-items: center;
}
.column_bottom_container span {
  font-size: 12px;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

@media (max-width: 950px) {
  .container{
      padding: 35px 24px 35px 24px;

  }
  .footer_left{
    width: 50%;
  }
  .logo_icon {
  height: 54px;
}
.logo_container {
  margin-top: 0rem;
}
.logo_text {
  height: 30px;
}
.first_footer_column{
  display: none;
}
.footer_column_responsive{
display: flex;
   width: 100%;
   justify-content: space-between;
   padding: 0 24px 24px 24px;
}
.social_buttons_responsive {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 6px;
  margin-top: 2rem;
  width: 45%;
}
.footer_column{
  width: 45%;
 }
.logo_container_responsive {
width: 45%;
}
.column_bottom_container{
  margin-left: 0;
}
.column_bottom_container {
   flex-direction: column;
   

}
.divider{
  display: none;

}
}
